/* ===== root */
:root {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #EAE8FE;
    font-size: 12px;

    --ft-size-info: 14px;
    --ft-size-button: 13px;
    --ft-size-name: 9px;

    --color-main: #6327FE;
    --color-display: #EAE8FE;

    --gap-cont: 20px;
    --gap-item: 12px;
    --gap-list: 9px;
}

/* ===== reset */
* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

button,
input {
    all: unset;
}

img {
    vertical-align: bottom;
}

/* ===== header */
.main-header {
    text-align: center;
    margin-bottom: 80px;
}

.main-header>img {
    max-width: 386px;
}

/* ===== main > section, article */
main {
    max-width: 748px;
    margin: 0 auto;

    overflow: hidden;
}

main>section,
main>article {
    width: 360px;
    background-color: white;
}

.input-section {
    float: left;
}

.wallet {
    float: right;
}

.output-section {
    float: right;
}

/* ===== media */
@media screen and (max-width: 800px) {
    :root {
        background-color: white;
    }

    .main-header {
        margin-bottom: 40px;
    }

    .main-header>img {
        max-width: 50%;
    }

    main {
        width: 80%;
    }

    .input-section,
    .wallet,
    .output-section {
        width: 100%;
        float: none;
    }
}

@media screen and (max-width: 360px) {
    main {
        max-width: 100%;
    }
}