/* ===== root */
:root {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #EAE8FE;
    font-size: 12px;

    --ft-size-info: 14px;
    --ft-size-button: 13px;
    --ft-size-name: 9px;

    --color-main: #6327FE;
    --color-display: #EAE8FE;

    --gap-cont: 20px;
    --gap-item: 12px;
    --gap-list: 9px;
}

/* ===== reset */
* {
    padding: 0;
    margin: 0;
}

button,
input {
    all: unset;
}

img {
    vertical-align: bottom;
}

/* main > section, article */
main>section,
main>article {
    max-width: 360px;
    background-color: white;
}